<div _ngcontent-uig-c2="" class="logo">
  <a
    _ngcontent-uig-c2=""
    class="simple-text logo-mini"
    href="https://www.creative-tim.com?ref=bda-sidebar-logo"
    ><div _ngcontent-uig-c2="" class="logo-img">
      <img
        _ngcontent-uig-c2=""
        src="assets/img/angular2-logo-white.png"
      /></div></a
  ><a
    _ngcontent-uig-c2=""
    class="simple-text logo-normal"
    href="https://www.creative-tim.com?ref=bda-sidebar-logo"
  >
    Car Rental System
  </a>
</div>
<div _ngcontent-uig-c2="" class="sidebar-wrapper">
  <ul _ngcontent-uig-c2="" class="nav">
    <!---->
    <li _ngcontent-uig-c2="" routerlinkactive="active" class="nav-item active">
      <a _ngcontent-uig-c2="" href="#/dashboard"
        ><i _ngcontent-uig-c2="" class="tim-icons icon-chart-pie-36"></i>
        <p _ngcontent-uig-c2="">Dashboard</p></a
      >
    </li>
    <li _ngcontent-uig-c2="" routerlinkactive="active" class="nav-item">
      <a _ngcontent-uig-c2="" href="#/icons"
        ><i _ngcontent-uig-c2="" class="tim-icons icon-badge"></i>
        <p _ngcontent-uig-c2="">Rentals</p></a
      >
    </li>
    <li _ngcontent-uig-c2="" routerlinkactive="active" class="nav-item">
      <a _ngcontent-uig-c2="" href="#/maps"
        ><i _ngcontent-uig-c2="" class="tim-icons icon-support-17"></i>
        <p _ngcontent-uig-c2="">Cars</p></a
      >
    </li>
    <li _ngcontent-uig-c2="" routerlinkactive="active" class="nav-item">
      <a _ngcontent-uig-c2="" href="#/user"
        ><i _ngcontent-uig-c2="" class="tim-icons icon-single-02"></i>
        <p _ngcontent-uig-c2="">Customers</p></a
      >
    </li>
    <li _ngcontent-uig-c2="" routerlinkactive="active" class="nav-item">
      <a _ngcontent-uig-c2="" href="#/notifications"
        ><i _ngcontent-uig-c2="" class="tim-icons icon-bell-55"></i>
        <p _ngcontent-uig-c2="">Notifications</p></a
      >
    </li>
  </ul>
</div>
