<nav
  _ngcontent-uig-c3=""
  class="navbar navbar-expand-lg navbar-absolute navbar-transparent"
>
  <div _ngcontent-uig-c3="" class="container-fluid">
    <div _ngcontent-uig-c3="" class="navbar-wrapper">
      <div _ngcontent-uig-c3="" class="navbar-toggle d-inline">
        <button _ngcontent-uig-c3="" class="navbar-toggler" type="button">
          <span _ngcontent-uig-c3="" class="navbar-toggler-bar bar1"></span
          ><span _ngcontent-uig-c3="" class="navbar-toggler-bar bar2"></span
          ><span _ngcontent-uig-c3="" class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a _ngcontent-uig-c3="" class="navbar-brand" href="javascript:void(0)">
        Dashboard
      </a>
    </div>
    <button
      _ngcontent-uig-c3=""
      aria-controls="collapseExample"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      id="navigation"
      type="button"
      aria-expanded="false"
    >
      <span _ngcontent-uig-c3="" class="navbar-toggler-bar navbar-kebab"></span
      ><span _ngcontent-uig-c3="" class="navbar-toggler-bar navbar-kebab"></span
      ><span
        _ngcontent-uig-c3=""
        class="navbar-toggler-bar navbar-kebab"
      ></span>
    </button>
    <div _ngcontent-uig-c3="" class="navbar-collapse collapse" id="navigation">
      <ul _ngcontent-uig-c3="" class="navbar-nav ml-auto">
        <li _ngcontent-uig-c3="" class="search-bar input-group">
          <button
            _ngcontent-uig-c3=""
            class="btn btn-link"
            data-target="#searchModal"
            data-toggle="modal"
            id="search-button"
          >
            <i _ngcontent-uig-c3="" class="tim-icons icon-zoom-split"></i
            ><span _ngcontent-uig-c3="" class="d-lg-none d-md-block">
              Search
            </span>
          </button>
        </li>
        <li _ngcontent-uig-c3="" class="nav-item dropdown" ngbdropdown="">
          <a
            _ngcontent-uig-c3=""
            aria-haspopup="true"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="javascript:void(0)"
            ngbdropdowntoggle=""
            aria-expanded="false"
            ><div
              _ngcontent-uig-c3=""
              class="notification d-none d-lg-block d-xl-block"
            ></div>
            <i _ngcontent-uig-c3="" class="tim-icons icon-sound-wave"></i>
            <p _ngcontent-uig-c3="" class="d-lg-none">Notifications</p></a
          >
          <ul
            _ngcontent-uig-c3=""
            class="dropdown-menu-right dropdown-navbar dropdown-menu"
            ngbdropdownmenu=""
            x-placement="bottom-left"
          >
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Mike John responded to your email
              </a>
            </li>
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                You have 5 more tasks
              </a>
            </li>
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Your friend Michael is in town
              </a>
            </li>
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Another notification
              </a>
            </li>
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Another one
              </a>
            </li>
          </ul>
        </li>
        <li _ngcontent-uig-c3="" class="nav-item dropdown" ngbdropdown="">
          <a
            _ngcontent-uig-c3=""
            aria-haspopup="true"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="javascript:void(0)"
            ngbdropdowntoggle=""
            aria-expanded="false"
            ><div _ngcontent-uig-c3="" class="photo">
              <img
                _ngcontent-uig-c3=""
                alt="Profile Photo"
                src="assets/img/anime3.png"
              />
            </div>
            <b
              _ngcontent-uig-c3=""
              class="caret d-none d-lg-block d-xl-block"
            ></b>
            <p _ngcontent-uig-c3="" class="d-lg-none">Log out</p></a
          >
          <ul
            _ngcontent-uig-c3=""
            class="dropdown-navbar dropdown-menu"
            ngbdropdownmenu=""
            x-placement="bottom-left"
          >
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Profile
              </a>
            </li>
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Settings
              </a>
            </li>
            <li _ngcontent-uig-c3="" class="dropdown-divider"></li>
            <li _ngcontent-uig-c3="" class="nav-link">
              <a
                _ngcontent-uig-c3=""
                class="nav-item dropdown-item"
                href="javascript:void(0)"
                ngbdropdownitem=""
              >
                Log out
              </a>
            </li>
          </ul>
        </li>
        <li _ngcontent-uig-c3="" class="separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>
